<div class='modal'>
  <header class='bar bar-header bar-calm'>
    <h1 class='title'>Account Feature</h1>
    
    <div class='button button-clear' ng-click='closeModal(2)'>
      <span class='icon ion-close'> Later</span>
    </div>

  </header>
  <ion-content class="has-header">
  <ion-slide-box style="padding-top: 140px;" show-pager="false">
    <ion-slide>
      <img ng-src="img/assets/nologin.png" height="140px" >
      <h3>Hold It Right There!</h3>
      <button class="button button-balanced" style="width: 288px" ng-click="reLogin()">
        Sign In Now
      </button>

      <h5>You Need To Be Logged In</h5>
    </ion-slide>
  </ion-slide-box>
</ion-content>
 
</div>
