<ion-view view-title="My Requests">
  <ion-content style="background-color: #EEE;text-align:center" class="has-header">

          <div class="row" ng-if="!requests">
            <div class="col col-22" style="color: grey; background:#EEE; border-radius: 5px; text-align: center;">

                <p>Our crack team is getting results... Patience!</p>
                <img ng-src="{{randomGif()}}" height="200px" style="border-radius: 10px"/>

            </div>
          </div>
            <div class="list card" ng-repeat="job in requests | orderBy:'-time'" ng-if="requests">

              <div class="item item-avatar" ui-sref="tab.ask-person({alias: job.requester.id})">
                <img ng-src="{{job.requester.face}}" err-src="img/assets/nologin.png">
                <a class="positive askprice"><b>{{defaultCountry.currency}}{{job.price|currency:"":0}}<span ng-if="job.meta.tuitionType">/hr</span></b></a>
                <h2>{{job.requester.name}}</h2>
                <p>{{job.time | date:"dd-MMM-yyyy ' at' h:mma"}}</p>
            </div>
            <div class="item item-body">
              <a class="assertive" ng-if="job.meta">
                {{job.meta.role}} requesting <b>{{job.categories}}</b>
                <i class="icon ion-android-person" ng-if="job.meta.tuitionType=='Private'"></i>
                <i class="icon ion-ios-people" ng-if="job.meta.tuitionType=='Group'"></i>
                <b><span ng-if="job.meta.tuitionType">{{job.meta.tuitionType}}</span> {{job.meta.requestNature}}</b>
                <br>
                <span ng-if="job.duration&&job.frequency&&job.frequencyType">Lesson Details: <b>{{job.duration}} hrs/lesson <i class="ion-ios-alarm"></i><span ng-if="job.frequency!=1"> {{job.frequency}} lessons </span> {{job.frequencyType}}</b></span>
                <!--
                <span ng-if="job.meta.tuitionGender&&(job.meta.tuitionGender!='None')">{{job.meta.tuitionGender}} Preferred</span>
              -->
              </a>
              <img class="full-image" ng-src="{{job.task.pic}}" ng-if="job.task.pic" ng-click="showImage(job.task.pic)"/>
              <p ng-if="job.meta">
              {{job.task.writeup}}
              </p>
              <span ng-if="!job.meta">
              {{job.task.writeup}}
              </span>
              <p>

                <a class="assertive" ng-if="job.meta.tuitionGender&&(job.meta.tuitionGender!='None')">Prefers <i class="icon ion-woman" ng-if="job.meta.tuitionGender=='Female'"></i><i class="icon ion-man" ng-if="job.meta.tuitionGender=='Male'"></i> {{job.meta.tuitionGender}}</a><br>
                <a class="royal" ng-if="job.location"><b> <i class="icon ion-ios-location"></i> {{job.location}}</b> </a>
              </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left" ng-hide="job.foundTutor&&job.likesCount<=0">
              <p class="bar-calm">
                <a ng-if="job.likesCount>0"><b>{{job.likesCount}} Tutor<span ng-if="(job.likesCount>1)">s</span> Answered</b></a>
                <a ng-if="job.likesCount==0"><b>Open To Tutors</b></a>
              </p>
              <p class="bar-calm" ng-show="job.foundTutor">
                <a ng-if="job.likesCount>0"><b>Found Tutor After {{job.likesCount}} Responses</b></a>
              </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left" ng-if="authData.provider">
                <a class="tab-item" ng-if="job.requester.id==authData.uid&&!job.foundTutor" ui-sref="tab.account-editRequest({requestId: job.key})">
                  <i class="icon ion-edit"></i> Edit
                </a>
              <span ng-if="job.requester.id==authData.uid">
                <a class="tab-item" ng-click="chooseTutorToClose(job)" ng-hide="job.foundTutor">
                  <i class="icon ion-checkmark-circled"></i> I Found My Tutor
                </a>
              </span>
              <a class="tab-item" ng-if="job.foundTutor">
                <i class="icon ion-checkmark-circled"></i> Closed
              </a>
            </div>
          </div>
  </ion-content>
</ion-view>
