<ion-view view-title="Edit Background">
	<ion-content style="padding-top: 10px; background-color: #594443;">

		<div class="list list-inset">
			<div class="item item-divider">About Yourself 😃</div>
			<label class="item item-input">
				<textarea msd-elastic name="brief" placeholder="Describe Yourself" ng-model="user.writeup" style="max-height:200px;">
				</textarea>
			</label>
		</div>
		<button class="tabs button button-block button-positive" ng-click="updateBackground();">
		      Update Background
		</button>
    <div class="row" style="color: grey; background:#EEE; border-radius: 5px;">
        <div class="col" style="text-align: left;">
            <p>A thoughtful writeup about yourself helps tutors and students to relate to you. You can also use smileys 😃</p>
            <p>Here's an example:</p>
             <img ng-src="img/assets/sample-writeup.jpg" style="border-radius: 10px; max-width:100%;">
        </div>
    </div>

	</ion-content>
</ion-view>