<div class="modal">
	<header class="bar bar-header" style="background-color:#164751;">
  <div class="button button-clear" ng-click="closeModal(2);" style="color:white;"><span class="icon ion-ios-arrow-thin-left"></span></div>
	  <h1 class="title" style="color:white;">How Invites Work</h1>
	</header>
  	<ion-content has-header="true" padding="true" style="padding-top: 50px">
    	<p style="margin: 10px 5px 5px 5px">
          <br><br>
      		Every time a new Learnly user signs up with your invite code, that user is deemed to be invited by you.
          <br><br>
          We will be rolling out details of the reward program in June 2017, look out for our email.
          <!--
          When the invited user books a lesson with a tutor and reviews the tutor within 14 calendar days, we reward you with 15% of their first 4 lessons' fees with the tutor, provided there are no lesson cancellations or disputes. 
          <br><br>
          The reward will appear in your Accounts tab after 21 calendar days from the review date.
          <br><br>
          You can then request for the reward to be paid to a Singapore bank account of your choice in the app. The bank transfer will be made on the last working day of the month, or following month, if you do not meet the cutoff time for processing.
          <br><br>
          Rewards that arise from error or fraudelent transactions will be clawed back. Rewards will expire after 180 days from crediting.
        -->
          <br>
    	</p>
  	</ion-content>
</div>
