<div class="modal image-modal transparent">
    <ion-pane class="transparent">
    <div style="height:30%;width:80%;margin:auto;background-color:white;text-align:center;margin-top:35%;font-size:15px;border-radius:10px;">
	    <p style="padding-top:50px;">
	    	New Update Available!
	    	<br>
	    	Please Update and Restart Learnly!
	    </p>
     	<button class="button button-light" style="border-width:1px;border-color:black;border-radius:5px;margin-top:10px;font-size:20px"  ng-click="openAppstore()">Update</button>
  	</div>
    </ion-pane>
</div>